
footer {
  color: white;
  padding: 2.6rem 1rem 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* background-color: #051a4d; */
  /* background-color: #010f23; */
  background-color: #01011d;
}

.footer-section {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-section h2 {
  font-size: 1.9rem;
  margin-bottom: 1.2rem;
  color: #e0efff;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}

.footer-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-details button {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
  font-weight: 500;
}

.footer-details button:hover {
  color: #898b8f;
  transform: scale(1.05);
}

.social-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.2rem;
}

.social-media a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.15);
}

footer .copyright {
  font-size: 1.05rem;
  color: #e3ebfb;
  margin-top: 1rem;
}

footer .copyright a {
  color: rgb(197, 248, 109);
  margin-left: 5px;
  text-decoration: none;
}

footer .copyright a:hover {
  text-decoration: underline;
}

/* Tablet and smaller (≤1024px) */
@media (max-width: 1024px) {
  footer {
    padding: 2.5rem 1rem 2rem;
  }

  .footer-section h2 {
    font-size: 1.6rem;
  }

  .footer-details {
    gap: 1.2rem;
  }

  .footer-details button {
    font-size: 0.95rem;
  }

  .social-media {
    gap: 1.2rem;
  }

  .social-media a {
    font-size: 1.4rem;
  }

   footer .copyright {
    font-size: 0.8rem;
  }
}

/* Mobile (≤600px) */
@media (max-width: 600px) {
  footer {
    padding: 2rem 1rem 1.5rem;
  }

  .footer-section h2 {
    font-size: 1.4rem;
  }

  .footer-details {
    gap: 0.8rem;
    flex-direction: column;
    align-items: center;
  }

  .footer-details button {
    font-size: 0.95rem;
  }

  .social-media {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .social-media a {
    font-size: 1.3rem;
  }

  footer .copyright {
    font-size: 0.6rem;
  }
}



