.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(15, 10, 40, 0.4);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1001;
  height: 60px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar-brand {
  margin-left: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 2px 2px rgb(123, 8, 8), 0 0 25px, 0 0 5px rgb(115, 115, 222);
}

.navbar-links.desktop {
  display: flex;
  list-style: none;
  gap: 1.8rem;
  margin-right: 20px;
}

.navbar-links.desktop li button {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.2s;
  background: transparent;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-family: inherit;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-links.desktop li button:hover,
.navbar-links.desktop li button.active {
  color: #a0e9fd;
  transform: scale(1.1);
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 20px;
  z-index: 1002;
}

.menu-toggle {
  display: none;
}

.sidebar {
  display: none;
}

.overlay {
  display: none;
}

@media (max-width: 768px) {
  .navbar-links.desktop {
    display: none;

  }

  .hamburger {
    display: block;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    width: 250px;
    background-color: #1c135f;
    z-index: 1001;
    transition: right 0.3s ease-in-out;
    padding-top: 4rem;
  }

  .menu-toggle:checked~.sidebar {
    right: 0;
  }

  .sidebar .navbar-links {
    list-style: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .sidebar .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .sidebar .navbar-links a:hover,
  .sidebar .navbar-links .active {
    color: rgb(169, 216, 98);
  }

  .overlay {
    display: none;
  }

  .menu-toggle:checked~.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
}