
.about {
  justify-content: center;
  padding: 100px 20px;
}

.about-heading h1 {
  margin-top: 40px;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  color: white;
}

.about-section {
  background: #020f31;
  max-width: 1000px;
  width: 80%;
  text-align: justify;
  margin: 3em auto;
  padding: 1em;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.about-section p {
  font-size: 1.2rem;
  margin: 0.8em;
  padding: 0.2em;
  color: #f5f5f5;
  line-height: 1.2;
}

.about-section:hover{
   transform: scale(1.02);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}

.intro .full-name {
  color: rgb(252, 226, 154);
  font-weight: bold;
}

.full-name + span {
  color: rgb(251, 162, 245);
  font-weight: bold;
}

/* Tablet (up to 1024px) */
@media screen and (max-width: 1024px) {
  .about-heading h1 {
    font-size: 2rem;
  }

  .about-section {
    /* margin: 4.5em; */
    padding: 1.5em;
  }

  .about-section p {
    font-size: 0.8rem;
  }
}

/* Mobile Devices (up to 768px) */
@media screen and (max-width: 768px) {
  .about-heading h1 {
    font-size: 1.6rem;
  }

  .about-section {
    /* margin: 1.5em 1em; */
    padding: 1em;
    border-radius: 12px;
  }

  .about-section p {
    font-size: 0.8rem;
    margin: 1em 0;
  }
}

/* Very Small Devices (up to 480px) */
@media screen and (max-width: 480px) {
  
  .about-heading h1 {
    font-size: 1rem;
  }

  .about-section {
    padding: 0.8em;
  }

  .about-section p {
    font-size: 0.8rem;
  }
}

