#contact {
  text-align: center;
  padding: 50px 20px;
}

.contact-heading h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-decoration: underline;
  color: #ffffff;
}

.contact-heading p {
  font-size: 1.1rem;
  color: #cccccc;
  margin: 20px auto 20px;
  padding-bottom: 20px;
  text-align: center;
  max-width: 700px;
}

.contact-details {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}

form {
  background: #020f31;
  padding: 30px 40px;
  border-radius: 12px;
  border: 1px solid #fdfdfe;
  box-shadow: 10px 10px 20px rgba(241, 238, 238, 0.2);
  transition: all 0.3s ease-in-out;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

.contact-section h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #9d9caa;
  background-color: #16142a;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 20px;
  transition: border-color 0.3s;
  box-sizing: border-box;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #888;
}

input:focus,
textarea:focus {
  border-color: #a855f7;
  outline: none;
}

.submit {
  background: linear-gradient(90deg, #a855f7 0%, #ec4899 100%);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px 0;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover,
.submit:hover {
  background: linear-gradient(90deg, #9333ea 0%, #db2777 100%);
}


@media screen and (max-width: 1024px) {
  .contact-heading h1 {
    font-size: 2rem;
  }

  .contact-heading p {
    font-size: 0.9rem;
  }

  form {
    padding: 25px 30px;
    max-width: 550px;
  }
}

@media screen and (max-width: 768px) {
  #contact {
    padding: 40px 15px;
  }

  .contact-heading h1 {
    font-size: 1.6rem;
  }

  .contact-heading p {
    font-size: 0.85rem;
  }

  form {
    padding: 20px;
    max-width: 100%;
  }

  .contact-section h3 {
    font-size: 1.3rem;
  }

  input,
  textarea {
    padding: 14px;
    font-size: 0.95rem;
  }

  .submit {
    font-size: 0.95rem;
    padding: 12px 0;
  }
}

@media screen and (max-width: 480px) {
  #contact {
    padding: 30px 10px;
  }

  .contact-heading h1 {
    font-size: 1.4rem;
  }

  .contact-heading p {
    font-size: 0.85rem;
  }

  .contact-section h3 {
    font-size: 1.2rem;
  }

  form {
    padding: 16px;
  }

  input,
  textarea {
    padding: 12px;
    font-size: 0.9rem;
  }

  .submit {
    padding: 10px 0;
    font-size: 0.9rem;
  }
}
