/* Contact.css */

#contact {
  text-align: center;
}

.contact-heading h2 {
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  color: #ffffff;
  text-decoration: underline;
}

.contact-heading p {
  font-size: 1.3rem;
  color: #cccccc;
  margin: 20px auto 30px ;
  padding-bottom: 20px;
  text-align: center;
}

.contact-details {
  display: flex;
  justify-content: center;
  margin: 10px;
}

form {
    align-items: center;
    /* background: #3a0956; */
    /* background: #100629; */
    background: #2b0a5d;
  /* background-color: #1a1832; */
  padding:  20px 40px 30px 40px;
  border-radius: 12px;
  border: 1px solid  #fdfdfe;
  box-shadow: 10px 10px 20px rgba(241, 238, 238, 0.2);
  transition: all 0.3s ease-in-out;
}

.contact-section h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #9d9caa;
  background-color: #16142a;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

input::placeholder,
textarea::placeholder {
  color: #888;
}

input:focus,
textarea:focus {
  border-color: #a855f7;
  outline: none;
}

button {
  background: linear-gradient(90deg, #a855f7 0%, #ec4899 100%);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px 0;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(90deg, #9333ea 0%, #db2777 100%);
}
