
 #education {
  text-align: center;
  padding: 30px 20px;
  
}

.education-section {
  text-align: center;
   margin-bottom: 20px;
}

.education-section h1 {
   margin-top: 30px;
  font-size: 2.4rem;
  text-align: center;
  color: #f5f3ff;
  text-decoration: none;
  position: relative;
}

.education-section h1::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  margin: 10px auto 0;
  background: linear-gradient(90deg, #a855f7, #ec4899);
  border-radius: 2px;
}

.education-section p {
  font-size: 1.1rem;
  color: #c0c0c0;
  margin: 25px auto;
}

.college {
  background: #020f31;
  max-width: 1000px;
  width: 75%;
  margin: 1.5em auto;
  padding: 2em;
  border-radius: 16px;
  border: 1px solid #faf9fb;
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.1);
  text-align: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.college:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
  border-color: #d4d2d5;
}

.college h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1.1em;
}

.college img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #fff;
  padding: 8px;
  border: 3px solid #a855f7;
  margin-bottom: 1.1em;
}

.college h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #bbeefc;
  margin-bottom: 0.8em;
}

.college p {
  font-size: 1.05rem;
  line-height: 1.6;
  color: #f5f2f2;
  margin-top: 0.6em;
}

.college p:first-of-type {
  color: #f970fb;
  font-weight: 600;
}

/* Tablets (<= 1024px) */
@media screen and (max-width: 1024px) {
  .education-section h1{
    font-size: 2rem;
  }

   .education-section p{
    font-size: 0.9rem;
  }

  .college {
    width: 80%;
    padding: 2em 1.5em;
  }

  .college h3 {
    font-size: 1.3rem;
  }

  .college h4 {
    font-size: 1.1rem;
  }

  .college p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #education {
    padding: 40px 15px;
  }

  .education-section h1{
    font-size: 1.6rem;
  }

   .education-section p{
    font-size: 0.85rem;
  }

  .college {
    width: 90%;
    padding: 1.5em 1em;
  }

  .college h3 {
    font-size: 1.2rem;
  }

  .college h4 {
    font-size: 1rem;
  }

  .college img {
    width: 80px;
    height: 80px;
  }

  .college p {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 480px) {
  #education {
    padding: 30px 10px;
  }

  .education-section h1{
    font-size: 1.4rem;
  }

  .education-section p{
    font-size: 0.85rem;
  }

  .college {
    width: 95%;
    padding: 1.2em 0.8em;
  }

  .college img {
    width: 70px;
    height: 70px;
  }

  .college h3 {
    font-size: 1.1rem;
  }

  .college h4 {
    font-size: 0.95rem;
  }

  .college p {
    font-size: 0.9rem;
  }
}

