#education {
  text-align: center;
  /* padding: 60px 20px; */
}

.education-section {
  text-align: center;
  margin-bottom: 40px;
}

.edu-heading {
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  color: #ffffff;
  text-decoration: underline;
}

.education-section p {
  color: #b0b0b0;
  font-size: 1.3rem;
  margin-top: 10px;
}

.college {
  background: #2b0a5d;
  max-width: 800px;
  margin: 50px auto;
 
  padding: 40px 30px 50px 30px;
  border-radius: 16px;
  border: 1px solid #faf9fb;
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.1);
  text-align: center;
  position: relative;
}

.college h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.college img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #fff;
  padding: 8px;
  border: 3px solid #a855f7;
  margin-bottom: 20px;
}

.college h4 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #c1e4fc;
  margin-bottom: 10px;
}

.college p {
  font-size: 1rem;
  line-height: 1.6;
  color: #f5f2f2;
  margin-top: 10px;
}

.college p:first-of-type {
  color: #f970fb;
  font-weight: 600;
}

.college {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.college:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
  border-color: #d4d2d5;
}

