* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
    90deg,
    rgba(26, 170, 189, 1) 0%,
    rgba(13, 13, 105, 1) 80%
  );
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin-top: 100px;
  min-height: 100vh;
}
